.task-item {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  cursor: pointer;
  margin-bottom: 8px;
  width: 100%;
  padding: 8px 4px;
  color: #222;
  font-size: 15px;
  font-weight: bold;
}

.task-item input[type="text"] {
  border: none;
  font-size: 16px;
  display: block;
  width: 100%;
  font-family: "Zen Kurenaido", sans-serif;
}

.task-item select {
  display: block;
  width: 100%;
  margin-top: 8px;
  border: solid 1px #9a9483;
  border-radius: 5px;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 3px;
}
